</br>
<p id="notice"><%= notice %></p>

<h1>
  <strong>Experiences related to:</strong>
  <%= @tag.name %>
</h1><br />

<h2 class="mytitle">Posts</h2>
<table class="table table-hover">

  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Tags:</th>
      <th></th>
      <th></th>
      <th colspan="5"></th>
    </tr>
  </thead>


<tbody>
  <% @tag.posts.each do |post, tags, username| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.user.username %></td>
              <% post.tags.each do |tag| %>
                  <td><%= link_to tag.name, tag_path(tag) %></td>
              <% end %>
    </tr>
  <% end %>
</tbody>
</table><br />


<% if current_user.present? and can? :update, Tag %>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<% end %>
<% if current_user.present? and current_user.role == ("admin" or "superadmin") %>
<%= link_to 'Back', tags_path %>
<% else %>
<%= link_to 'Back', home_index_path %>
<% end %>
