</br>
<h2 class="mytitle">Sign up</h2>
</br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

</br>

  <h5 class="dark-grey"><%= link_to 'Terms & Conditions', '/pages/privacy'%></h5>

  <h6>By clicking on "Sign Up" you agree to The Company's' Terms and Conditions</h6>

  <div class="actions">

</br>
    <%= f.submit "Sign up"%>
  </div>
<% end %>


</br>
<%= render "devise/shared/links" %>
</br>
