</br>

<h1 class="mytitle">Our Experiences</h1>

<% if can? :create, Post %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
&nbsp;&nbsp;
<% if can? :update, Post %>
  <%= link_to 'Pending Posts', posts_review_path %>&nbsp;&nbsp;
  <%= link_to 'Rejected Posts', posts_rejected_path %>
<% end %>
<br><br><br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "title","Title"%></th>
      <!--<th>Content</th>-->
      <th>Tags</th>
      <!-- <th>Status</th> -->
      <th>Shared By</th>
      <th><%= sortable "created_at","Shared on"%></th>
      <!--<th colspan="1"></th>-->
      <th><%= sortable "cached_votes_total", "Votes"%></th>
    </tr>

  </thead>

  <tbody>
    <% if !@posts.present? %>
      <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% end %>

    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post%></td>
<!--        <td><%= post.content.truncate(50, separator: ' ').html_safe %></td>-->
        <td><%= post.get_tag_list %></td>
        <!-- <td><%= post.status %></td> -->
        <td><%= post.user.username %></td>
        <td><%= post.created_at.strftime("%d %B %Y") %></td>

      <!--  <td><%= link_to 'Show', post %></td>-->
        <% if current_user.present? and current_user.voted_for? post %>
        <td ><%= link_to dislike_post_path(post), method: :put do %>
        <!--  Unvote-->

         <%=  icon('thumbs-o-up',class: 'unvote')%>

          <%= post.get_upvotes.size %>
          <% end %>
        </td>
        <% else %>
        <td><%= link_to like_post_path(post), method: :put do %>
          <%= icon('thumbs-o-up')%>
        <!--  Upvote-->


          <%= post.get_upvotes.size  %>


          <% end %>
        </td>
        <% end %>
        <% if can? :update, Post %>
          <!-- <td><%= link_to 'Edit', edit_post_path(post) %></td> -->
          <td><%= link_to icon('pencil-square-o'), edit_post_path(post) %></td>
        <% end %>

        <% if can? :delete, @post %>
          <!-- <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          <td><%= link_to icon('trash-o'), post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- renderer:BootstrapPagination::Rails -->
<%= will_paginate @posts,renderer:BootstrapPagination::Rails, inner_window: 1,outer_window: 0%>
