<script type="text/javascript">
  var word_array = <%= raw @tag_cloud.to_json %> ;

  // console.log('word array: ', word_array);
  $(function() {
    // When DOM is ready, select the container element and call
    // the jQCloud method, passing the array of words as the first argument.
    $("#wordcloud").jQCloud(word_array);
  });
</script>

<div id="wordcloud" class="jqcloud" ></div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  Tags:
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @post.content.html_safe %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>Shared by:</strong>
  <%= @post.user.username %>
</p>

<% if current_user.present? and current_user.voted_for? @post %>
<td><%= link_to dislike_post_path(@post), method: :put do %>
  Unvote
  <%= @post.get_upvotes.size %>
  <% end %>
</td>
<% else %>
<td><%= link_to like_post_path(@post), method: :put do %>
  Upvote
  <%= @post.get_upvotes.size %>
  <% end %>
</td>
<% end %>

<% if current_user.present? and can? :update, Post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
