<!DOCTYPE html>
<html>
  <head>
    <title>Weexus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  </head>

  <body>
    <header>
      <div class="firstheader">
    <img src="" class="logo" width="40px" height="50px" />
    <p class="weexus">Weexus</p>
    <div class="header_login">
      <% if user_signed_in? %>
        <h2>
          <%=link_to 'LOGOUT', destroy_user_session_path, :method => :delete %>
        </h2>
        <% else %>
        <h2>
          <%=link_to 'LOGIN', new_user_session_path, :method => :create %>
        </h2>
      <% end %>
    </div>
      <div class="search">
        <span id="searchContainer" style="cursor: hand">
          <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25">
            <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z">
            </path>
          </svg>
        </span>
        <input id="searchBox" style="display: none" type="search" placeholder="Search Submissions" required="true" />
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function() {
            $('#searchContainer').click(function(){
              $('#searchBox').toggle();
            });
        });
    </script>

<% if user_signed_in? %>

    <div id="showMenu">
      Show Menu
    </div>

<div class="flex">
  <div class="flexitem" id="home"><%= link_to 'Home', home_index_path %></div>
  <div class="flexitem">Edit Profile</div>
  <% if can? :update, Post %>
  <div class="flexitem"><%= link_to 'Posts', posts_path %></div>
  <% end %>
  <% if can? :manage, Tag %>
  <div class="flexitem"><%= link_to 'Tags', tags_path %></div>
  <% end %>
  <% if can? :manage, Exclusion %>
  <div class="flexitem"><%= link_to 'Exclusion', exclusions_path %></div>
  <% end %>
  <div class="flexitem">Manage Complaints</div>
  <% if can? :manage, User %>
  <div class="flexitem"><%= link_to 'Users', users_path %></div>
  <% end %>
</div>


<script>
$(function(){
  $('#showMenu').click(function(){
    $('.flex').slideToggle();
  });
});
</script>
<% end %>
    </header>
    <%= yield %>
  </body>
</html>
